.show {
    display: flex;
    flex-direction: column;
    background-color: var(--Very-dark-cyan);
    padding: 2.4em 1.4em 1.5em 1.5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-radius: 15px;
    margin-bottom: 1.8em;
}

.show__tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4em;
}

.show__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.05em;
}

.show__button {
    font-size: 1.25em;
    padding: 0.49em;
    text-transform: uppercase;
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.show__button:hover {
    cursor: pointer;
    background-color: var(--Light-grayish-cyan);
}

.show__button_forbid {
    pointer-events: none;
    background-color: hsl(183, 79%, 24%);
}

@media (min-width: 800px) {
    .show-container {
        flex: 1;
    }
    .show {
        margin-left: 0.9em;
        margin-right: 0;
        padding: 2.65em 2.45em 2.5em 2.5em;
    }
    .show__tip {
        margin-bottom: 1.4em;
    }
    .show__total {
        margin-bottom: 7.3em;
    }
}


