html {
  /* ### Primary */
  --Strong-cyan: hsl(172, 67%, 45%);

  /* ### Neutral */
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  /* background-image: url("../design/mobile-design.jpg"); */
}

/* @media (min-width: 800px) {
  body {
    background-image: url("../design/desktop-design-empty.jpg");
    background-image: url("../design/desktop-design-completed.jpg");
    background-image: url("../design/active-states.jpg");
  }
} */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "SpaceMono";
  font-weight: 700;
  src: url("./fonts/SpaceMono-Bold.ttf") format("truetype");
}